{% block unit_list %}

{% include 'edit_unit.html' %}
<a href="{{ url_for('new_unit', campaign_id=campaign.id) }}" role="button" class="btn" data-toggle="modal" data-target="#unit_modal">Add New Unit</a>
Units:
<ul id="unit_list">
{% for u in units %}
    <li>
        <a href="{{ url_for('edit_unit', unit_id=u.id, campaign_id=campaign.id) }}" role="button" class="btn" data-toggle="modal" data-target="#unit_modal">Edit Unit</a>
        <dl>
            <dt>Name:</dt>
            <dd>{{ u.name }}</dd>
            <dt>Speed:</dt>
            <dd>{{ u.speed }}</dd>
            <dt>CT:</dt>
            <dd>{{ u.ct }}</dd>
        </dl>
    </li>
{% endfor %}

{% endblock unit_list %}
