{% block unit_editor %}

<div id="unit_modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Add/Edit Unit</h3>
    </div>
    <div class="modal-body">
    <!-- form will be inserted here dynamically -->
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</a>
        <button id="save_unit" class="btn btn-primary">Save</a>
    </div>
</div>

<script type="text/javascript">
    $("#save_unit").click(function (event) {
        $('#edit_unit_form').submit();
        /*
        var $form = $('#edit_unit_form'),
            name = $form.find('input[name="name"]').val(),
            speed = $form.find('input[name="speed"]').val(),
            ct = $form.find('input[name="ct"]').val(),
            url = $form.attr('action');

        $.post(url,
            {
                name: name,
                speed: speed,
                ct: ct
            });
        */
    });
</script>

{% endblock unit_editor %}
