{% extends "layout.html" %}
{% block body %}

<h3>New Unit</h3>
<form method="POST">
    <dl>
        <dt>Name:</dt>
        <dd><input type="text" size="30" name="name" value=""/></dd>
        <dt>Speed:</dt>
        <dd><input type="text" size="30" name="speed" value="" /></dd>
        <dt>CT:</dt>
        <dd><input type="text" size="30" name="ct" value="" /></dd>
        <dt>Order Number:</dt>
        <dd><input type="text" size="30" name="order_num" value="" /></dd>
    </dl>
    <button type="submit">Create</button>
</form>
{% endblock %}
